* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family:'Rubik', sans-serif;
}

:root{
    --display: none;
    --color-red: red;
}

/* Loader */

.loader {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #0492C2;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  

/* Login Form */
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}


@media(min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

form {
    height: 425px;
    width: 350px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
    color: #000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    position: relative;
}
form h1{
    text-transform: uppercase;
    color: #59bfff;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    color: #FFFFFF;
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 84.9%;
    margin-top: 10px;
    padding: 15px 25px;
    border-radius: 10px;
    z-index: -1;
}

input::selection {
    color:red;
}

.username::before,
.password::before {
    display: var(--display);
    content: "\f06a";
    color: var(--color-red);
    position: absolute;
    right: 15px;
    top: 42px;
    font-size: 1.1rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    z-index: 1;
}

.error-email, 
.error-pw,
.incorrect-pw {
    display: none;
    color: yellow;
}
.error-email i,
.error-pw i,
.incorrect-pw i {
    margin-top: 7px;
}
small i {
    color: yellow;
    margin-right: 8px;
}

.sign-in-btn {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    border: none;
}
.sign-in-btn a {
    color: #FFFFFF;
}
.sign-in-btn .forget a {
    color :#FFFFFF;
}
.sign-in-btn .forget {
    background-color: #59bfff;
    width: 40%;
    padding: 10px 5px;
    border-radius: 10px;
}
.sign-in-btn .member {
    background-color: #59bfff;
    width: 60%;
    margin-left: 2%;
    border-radius: 10px;
}
.sign-in-btn .member span {
    color: #FFFFFF;
}
.login-btn .login a{  
    color: #FFFFFF;
}
.login-btn .login {
    margin-top: 50px;
    width: 100%;
    background: #59bfff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
@media (min-width: 470px) {
    form {
        width: 350px;
        height: 430px;
    }
    .login-btn .login {
        margin-top: 30px;
    }
}


@media screen and (max-width: 470px) {
    form {
        width: 350px;
        height: 400px;
    }
    .username{
        margin-top: 20px;
    }
    .password {
        margin-top: 20px;
    }
    .sign-in-btn{
        margin-top: 20px;
    }
    .login-btn .login {
        margin-top: 20px;
    }
}
@media screen and (max-width: 420px) {
        form {
            width: 300px;
            height: 430px;
            padding: 20px;
        }
        input {
            padding: 10px 19.1px;
        }
        label{
            margin-top: 10px;
        }
        .username {
            margin-top: 10px;
        }
        .password {
            margin-top: 20px;
        }
        .username::before,
        .password::before {
            top: 37px;
        }
        .sign-in-btn {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
        .sign-in-btn .forget {
            width: 100%;
        }
        .sign-in-btn .member {
            width: 100%;
            margin-top: 20px;
            padding: 10px 5px;
            margin-left: 0px;
        }
        
        .login-btn .login {
            font-size: 1rem;
            margin-top: 20px;
            padding: 10px 0;
        }
}
@media screen and (max-width: 395px) {
    form {
        width: 280px;
    }
    .username::before,
    .password::before {
        top: 38.5px;
    }
    .error-email {
        font-size: .75rem;
    }
    .error-pw {
        font-size: .75rem;
    }
    .login-btn .login {
        font-size: 1rem;
        padding: 10px 0;
    }
}
@media screen and (max-width: 380px) {
    form {
        width: 250px; 
    }
    form h1 {
        font-size: 1.7rem;
    }
    input {
        padding: 10px 15px;
    }
    .username::before,
    .password::before {
        top: 39px;
    }
    .sign-in-btn  {
        display: flex;
        flex-direction: column;
    }
    .sign-in-btn .forget {
        width: 100%;
    }
    .sign-in-btn .member {
        width: 100%;
        padding: 10px 5px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .login-btn .login {
        margin-top: 20px
        padding 2px;
    }
}
@media screen and (max-width: 320px) {
    form {
        width: 190px;
        height: 370px;
    }
    form h1 {
        font-size: 1.4rem;
    }
    input {
        font-size: .55rem;
        padding: 5px 11.95px;
    }
    .password {
        margin-top: 10px;
    }
    .username::before,
    .password::before {
        font-size: .70rem;
        top: 34px;
        right: 10px;
    }
    .sign-in-btn .forget {
        font-size: .55rem;
        border-radius: 10px;
    }
    .sign-in-btn .member {
        border-radius: 10px;
        font-size: .75rem;
    }
    .login-btn .login {
        font-size: 1rem;
        padding: 10px 0;
        border-radius: 50px;
    }
    .error-email,
    .error-pw{
        font-size: .55rem;
    }
}
@media screen and (max-width: 290px) {
    form {
        height: 380px;
    }
    .password {
        margin-top: 20px;
    }
    .sign-in-btn .forget {
        font-size: .65rem;
    }
    .sign-in-btn .memeber {
        font-size: .65rem;
    }
    .login-btn .login {
        font-size: .85rem;
        padding: 8px 0;
        border-radius: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .back-video{
        display: block;
        background: url(Image/mylivewallpapers.com-Cloud-Dragon-4K.mp4);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 1100px) and (orientation: landscape) {
    form {
        width: 250px;
        height: 210px;
        padding: 30px 35px;
    }
    form h1 {
        font-size: 1.2rem;
        line-height: 10px;
    }
    input {
        width: 80%;
        padding: 2px 25px;
        margin-top: 5px;
    }
    .username,
    .password{
        font-size: .75rem;
        margin-top: 10px;
    }
    .username::before,
    .password::before {
        font-size: .70rem;
        top: 23px;
    }
    .sign-in-btn {
        margin-top: 15px;
    }
    .sign-in-btn .forget {
        font-size: .55rem;
        padding: 5px;
    }
    .sign-in-btn .member {
        font-size: .55rem;
    }
    .login-btn .login{
        font-size: .75rem;
        padding: 5px;
        margin-top: 20px;
    }
    .error-pw,
    .error-email {
        font-size: .55rem;
    }
}
/* End Login Form */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #292F36;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 4), transparent);
    transition: .5s;
}
.header:hover::before {
    left: 100%;
} 
.navigation img {
    width: 30px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    margin-left: 10px;
}

.user-name h1 {
    font-size: 1rem;
    color: #fff;
}

.user-name small {
    color: #fff;
    font-size: .75rem;
}

.search-icon {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon img {
    width: 30px;
    margin-right: 10px;
}

.search-icon input {
    border: 1px solid gray;
}

.search-icon .search {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    top: -5px;
}

.search-icon::after {
    content: "\f002";
    color: gray;
    position: absolute;
    right: 22px;
    top: 15px;
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}


[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
/* Navigation Bar */
.user-info-nav {
    padding-bottom: 20px;
    margin-left: 20px;
}
.noti-chat {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    padding-top: 30px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    background: #292F36;
    transition: all 0.7s ease-in-out;
}
.main-menu {
    margin-top: 15px;
}
.noti{
    font-size: 1.5rem;
    margin-left: 20px;
}
.noti-chat .msg {
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 20px;
}
.noti-chat h4 {
    color: #fff;    
    text-align: center;
}
.noti-chat i{
    display: none;
}
.noti-chat i h4 {
    font-size: .90rem;
}
.nav-items {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.nav-items,
.noti-chat p,
.back-login a{
    position: relative;
}
.nav-items::before,
.noti-chat p::before,
.back-login a::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    border-radius: 4px;
    background-color: aqua;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.notis::before {
    width: 48%;
}
.message::before {
    width: 43%;
}
.dashboard::before {
    width: 47%;
}
.client::before {
    width: 44%;
}
.staff::before{
    width: 42%;
}
.setting::before {
    width: 35%;
}
.nav-items .notis::before {
    width: 100%;
}
.nav-items .message::before {
    width: 20%;
}
.noti-chat p::before { 
    width: 62%;
}
.back-login a::before{
    width: 100%;
}
.nav-items:hover::before,
.noti-chat p:hover::before,
.back-login a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.nav-items h4:hover,
.back-login a:hover {
    color: aqua;
}
.nav-items h4{
    color: #fff;
    font-size: .90rem;
    margin-left: 10px;
}
.nav-items img,
.nav-items img {
    width: 20px;
}
.nothing {
    font-size: 2rem;
    margin-left: 20px;
    cursor: pointer;
}
.hamburger-menu {
    color: red;
    margin-right: -25px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .4s;
}
.hamburger-menu:hover {
    transform: scale(1.3);
}
.change {
    left: 0;
}
.change .open {
    display: none;
}
.navigation .close {
    display: none;
}
.change .close {
    display: block;
}
.back-login{
    text-align: center;
    margin-top: 50px;
}
.back-login a {
    color: #fff;
}

.bg-scr  {
    display: none;
}
/* End Navigation Bar */
/* Navigation Responsive */
@media(min-width: 579px) {
    .navigation {
        padding: 12px 5%;
    }
    .hamburger-menu {
        margin: 0px;
        margin-left: 20px;
    }
    .change .close {
        display: block;
    }
    .bg-scr {
        display: block;
        margin-right: 20px;
    }
    .bg-scr h4 {
        display: none;
    }
}

/* End Navigation Responsive */
/* Header */
.title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;
}
.activities-list {
    max-width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}
.activities-list img {
    width: 30px;
}
.activities-item {
    display: flex;
    align-items: center;
}
.activities-name {
    margin-left: 10px;
}
.activities-name img {
    margin-bottom: 5px;
}
@media(min-width: 579px) {
    .activities-list {
        grid-template-columns: auto auto auto;
    }
}

/* End Header */

/* Chart */
.chart {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.chart h4{
    display: inline-block;
    text-align: center;
    color: aqua;
    background: #292F36;
    margin-left: 1.8%;
    padding: 5px;
    cursor: pointer;
}
.chart i {
    margin-left: 5px;
}
.chart img {
    width: 100%;
    
}
/* End Chart */

/* Top Sale */
.top__sale {
    max-width: 96.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.top__sale h1{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.top__sale-total{
    display: flex;
    flex-direction: row;
}
.top__sale-top5{
    display: inline-block;
    color: #000;
    width: 50%;
    background:lemonchiffon;
    margin-right: 2.5rem;
    padding: 15px 20px;
    margin-bottom: 30px;
}
.top__sale-top5 h3 {
    line-height: 40px;
}
.top__sale-top3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 30px;
}
.top__sale-top3-header h1{
    font-size: 1.3rem;
    width: 152px;
    background: lemonchiffon;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.top__sale-top3-item h3{
    width: 50%;
    margin-right: 30px;
    background: lemonchiffon ;
    padding: 10px 30px;
}
@media screen and (max-width: 875px) {
    .top__sale-total {
        flex-direction: column;
    }
    .top__sale-top5 {
        width: 95%;
    }
    .top__sale-top3 {
        margin-top: 50px;
    }
    .top__sale-top3-item {
        width: 100%;
    }
    .top__sale-top3-header h1 {
        width: 89%;
    }
    .top__sale-top3-item h3 {
        width: 63%;
    }
}
@media screen and (max-width: 720px) {
    .top__sale-top3 {
        flex-direction: column;
    }
    .top__sale-top5 {
        width: 92%;
    }
    .top__sale-top3-header h1 {
        width: 98.7%;
        margin-top: 20px;
    }
    .top__sale-top3-item h3{
        width: 89%;
    }
    .top__sale-top3-item  {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .top__sale-top5 {
        width: 90%;
    }
    .top__sale-top3-header {
        width: 98%;
    }
    .top__sale-top3-item h3{
        width: 85%;
    }
}

@media screen and (max-width: 550px) {
    .top__sale-top5 {
        width: 92%;
    }
    .top__sale-top3-header {
        width: 100%;
    }
    .top__sale-top3-item h3{
        width: 88%;
    }
}

@media screen and (max-width: 540px) {
    .top__sale-top5 {
        width: 88%;
    }
    .top__sale-top3-header {
        width: 97.4%;
    }
    .top__sale-top3-item h3{
        width: 83.5%;
    }
}
/* End Top Sale */

@media screen and (max-width: 470px) {
    .navigation {
        padding: 20px ;
    }
    .user-name h1{
        font-size: .75rem;
    }
    .search-icon img {
        width: 20px;
    }
    .search-btn .search {
        padding: 5px;
    }
    .search-icon::after {
        font-size: 1rem;
        right: 10px;
    }
    .hamburger-menu {
        font-size: 1rem;
    }
    section {
        max-width: 80%;
        margin: 0 auto;
    }
    .top__sale-top5 {
        width: 85%;
    }
    .top__sale-top3-header {
        width: 97%;
    }
    .top__sale-top3-item h3{
        width: 79%;
    }
}

@media screen and (max-width: 410px) {
    .navigation {
        padding: 15px;
    }
    .user-name h1{
        font-size: .70rem;
    }
    .user-name small {
        font-size: .60rem;
    }
    .search-icon img {
        width: 20px;
    }
    .search-btn .search {
        padding: 5px;
    }
    .search-icon::after {
        font-size: 1rem;
        right: 25px;
    }
    .top__sale-top3-header {
        width: 98.7%;
    }
}
@media screen and (max-width: 395px) {
    .top__sale-top3-header {
        width: 98.3%;
    }
}
@media screen and (max-width: 365px) {
    .user-info {
        display: none;
    }
    .user-info-nav {
        display: flex;
    }
    .top__sale-top3-header {
        width: 99%;
    }
}

@media screen and (max-width: 290px) {
    .navigation {
        padding: 10px 15px;
    }
    .user-info img {
        width: 20px;
    }
    .user-info {
        display: none;
    }
    .user-info-nav {
        display: flex;
    }
    .search-icon img {
        width: 20px;
    }
    .top__sale-top3-header {
        width: 101%;
    }
    .top__sale-top3-item h3 {
        width: 75%;
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    .noti-chat {
        
    overflow-y: scroll;
    }
}